// colors
$primary-color: #118ab2;
$secondary-color: #ef476f;
$surface-color: #ffffff;
$background-color: #ffffff;
$error-color: #d62828;

// text colors
$primary-color: #ffffff;
$secondary-color: #ffffff;
$surface-color: #000000;
$background-color: #000000;
$error-color: #ffffff;
