@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";

.appbar {
  width: 100%;
  height: 4.5rem;
  background-color: rgba(0, 0, 0, 0.788);
}

// logo
.logo {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-decoration: none;
  background-color: variables.$secondary-color;

  // logo__img
  &__img {
    width: 100%;
    height: 100%;
  }
}
