@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../base/typography";

// today-section
.today-section {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

// city
.city {
  // city__name
  &__name {
    text-align: center;
    font-size: 2rem;
    color: typography.$text-high-color;
    margin-bottom: 0.5rem;
  }

  // city__error
  &__error {
    text-align: center;
    color: variables.$error-color;
    margin: 0.5rem;
    display: none;

    &--show-error {
      display: block;
    }
  }
}

// today
.today {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  // today__img-wrapper
  &__img-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  // today__img
  &__img {
    display: block;
    min-width: 152px;
    min-height: 152px;

    // tablet
    @include mixins.tablet {
      min-width: 192px;
      min-height: 192px;
    }
  }

  // today__text
  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  // today__day
  &__day {
    margin: 0;
    color: typography.$text-medium-color;
    font-size: 1.5rem;
  }

  // today__degrees
  &__degrees {
    margin: 0;
    color: typography.$text-high-color;
    font-size: 3rem;
  }
}

// days-section
.days-section {
  width: 100%;
  margin: 0;
  padding: 0;
}

// days
.days {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  padding: 1rem;

  // tablet
  @include mixins.tablet {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  // large tablet
  @include mixins.large-tablet {
    grid-template-columns: 1fr 1fr 1fr;
  }

  // small-desktop
  @include mixins.small-desktop {
    grid-template-columns: repeat(6, 1fr);
  }
}

// day
.day {
  width: 100%;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // tablet
  @include mixins.tablet {
    flex-direction: column;
    height: auto;
  }

  // day__name
  &__name {
    width: 20%;
    margin: 0;
    color: typography.$text-medium-color;

    // tablet
    @include mixins.tablet {
      width: auto;
    }
  }

  // day__img-wrapper
  &__img-wrapper {
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // day__img
  &__img {
    display: block;
    width: 4rem;
    height: 4rem;
  }

  // day__degrees
  &__degrees {
    width: 20%;
    margin: 0;
    color: typography.$text-high-color;
    font-size: 1.25rem;
    text-align: right;

    // tablet
    @include mixins.tablet {
      width: auto;
    }
  }
}

// loader
.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  padding-top: 2rem;
  display: none;

  &--show {
    display: block;
  }

  // loader__text
  &__text {
    text-align: center;
    font-size: 2rem;
  }
}
