@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "./typography";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: typography.$base-font;
  font-size: 16px;

  // large tablet
  @include mixins.large-tablet {
    height: 100%;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: variables.$background-color;

  // large tablet
  @include mixins.large-tablet {
    height: 100%;
  }
}
